@import "./Variable.scss";
.btn {
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: $fs-small;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    border-color: transparent;
    span {
        display: inline-block;
        top: 10px;
        margin-left: 10px;
    }
    &.btn--play {
        color: $white-color;
        background-color: #dd003f;
    }
    &.btn--fav {
        color: #dd003f;
        border: 1px solid #dd003f;

        &:hover {
            color: $white-color;
            background-color: #dd003f;
        }
        &-active {
            color: $white-color;
            background-color: #dd003f;
            &:hover {
                color: $white-color;
                background-color: #dd2c5e;
                border-color: #dd2c5e;
            }
        }
    }

    &.btn--large {
        font-size: $fs-large;
        span {
            top: -3px;
        }
    }

    &.btn--primary {
        color: $white-color;
        background-color: #3273dc;
    }
    &.btn--success {
        color: $white-color;
        background-color: $success-color;
    }
}
