@import "./../../assets/scss/Variable.scss";
.form {
    &__label {
        position: absolute;
        font-size: 2rem;
        font-weight: 700;
        max-width: calc(100% - (2 * 8px));
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
        white-space: nowrap;
        padding: 0 0.6rem;
        top: 15px;
        left: 10px;
        transition: 0.25s;
    }

    &__control {
        width: 100%;
        font-size: $fs-large;
        padding: 1rem;
        border-radius: 4px;
        border: solid 2px $light-gray-color;
        transition: 0.25s;
        &:focus,
        &--active {
            outline: none;
            border: solid 2px $blue-color;
        }
    }
    &__control:focus ~ &__label,
    &__control--active ~ &__label {
        color: $blue-color;
        top: -6px;
        background-color: $white-color;
        font-size: 1.2rem;
    }
}
